.taskListEmpty {
    border-top: var(--gray-400) 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem 64rem 1.5rem;
    gap: 1rem;
}

.taskListEmpty p{
    color: var(--gray-300);
    font-family: var(--default-font);
    line-height: 1,4rem;
    font-weight: 400;
    font-size: 1rem;
}

.taskListEmpty p:first-child {
    font-weight: 700;
}

