.tasksContainer {
    /* height: 17.9375rem; */
    position: absolute;
    top: 18.1875rem;
    width: 46rem;
    font-family: var(--default-font);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.createTaskBox {
    display: flex;
    gap: .5rem;
    position: absolute;
    top: -7.7125rem;
    z-index: 1;
}

.taskInput {
    width: 39.875rem;
    height: 3.375rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
}

.taskInput::placeholder {
    color: var(--gray-300);
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: var(--default-font);
}

.taskInput:focus {
    outline: none;
    border: 1px solid var(--purple-dark);
}

.taskInput:focus::placeholder {
    color: var(--gray-100);
}

.createTaskButton {
    background-color: var(--blue-dark);
    width: 5.625rem;
    border: none;
    border-radius: 8px;
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-size: 0.875rem;
    font-weight: 700;
    height: 3.375rem;
    font-family: var(--default-font);
}

.createTaskButton:hover {
    background: var(--blue);
    cursor: pointer;
}

.taskInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalTasksCreated {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.totalTasksCreated p {
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--blue);
    line-height: 1.05875rem;

}

.totalCounter{
    min-width: 1.5625rem;
    min-height: 1.1875rem;
    border-radius: 62.4375rem;
    padding: 0.125rem .5rem 0.125rem .5rem;
    background-color: var(--gray-400);
    display: flex;
    color: var(--gray-200);
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    font-size: 0.75rem;

}

.completedTasks{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.completedTasks p {
    line-height: 1.05875rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--purple);
}

.completedCounter {
    background-color: var(--gray-400);
    color: var(--gray-200);
    min-width: 1.5625rem;
    min-height: 1.1875rem;
    border-radius: 62.4375rem;
    padding: 0.125rem .5rem 0.125rem .5rem;
    background-color: var(--gray-400);
    gap: 0.625rem;
    font-size: 0.75rem;
}

.taskList {
    border-top: var(--gray-400) 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

@media(max-width: 45.8125rem) {
    .tasksContainer {
        max-width: 90%;
    }
    .createTaskBox {
        max-width: 100%;
    }
    .taskInput{
        max-width: 85%;
    }

    .taskInput::placeholder{
        font-size: 0.875rem;
    }

    .createTaskButton {
        font-size: 0.75rem;
        gap: 0.1rem;
    }
}
